doctype html
html(lang="")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../stylesheets/style.css")
		link(rel="manifest" href="../manifest.json")
		title= article.title
	body

		div(class="grid-container")
			- let day = article.date.getDate()
			- let month = article.date.getMonth() + 1
			- let year = article.date.getFullYear()
			- let datePosted = day + "/" + month + "/" + year

			div(class="header")
				h1 #{article.title}
				
			div(class="left")

			div(class="content")

				article(class="article")

					div(class="table-of-contents")
						h3 Sections
						each section, i in sections
							a(class="section-link" href="#section" + i) #{section.heading}
							br

					div(class="article-body")
						each section, i in sections
							div(class="section" id="section" + i)
							h4 #{section.heading}
							p #{section.body}
						p(class="date-posted"): em posted: #{datePosted}

					

			div(class="right")

			div(class="footer")
				h4: a(class="footer-link" href="/") I Just Have Thoughts About Games 2021